<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit book</title>
</head>

<body>
    <h1>Edit Book</h1>
    <form method="post" action="#" th:action="@{/savebook}" th:object=${book}>
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Author: <input type="text" th:field="*{author}" /></p>
        <p>Publication Year: <input type="text" th:field="*{publicationYear}" /></p>
        <p>Isbn: <input type="text" th:field="*{isbn}" /></p>
        <p>Price: <input type="text" th:field="*{price}" /></p>
        <input type="submit" value="Submit" />
    </form>

</body>

</html>